__pycache__
.spyproject
.git
saves/
eval_files/*
best_model.keras
feature-csv/
03_Loss.png
03_Accuracy.png
02_Loss.png
02_Accuracy.png
01_Loss.png
01_Accuracy.png
00_Loss.png
00_Accuracy.png
*.opus
*.wav
*.gsm

